body,html{
margin:0;padding:0;background:	#F0F0F0;font-size:14px;
font-family:Arial,Helvetica,'STHeiti','MicrosoftYaHei','sans-serif'
}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:0;}
ul,li{list-style-type:none;}
a{color:#00007F;text-decoration:none;}
a:hover{text-decoration:none;}

.fl{float: left;}
.fr{float: right;}
.clear{overflow: hidden;}
.dingr{position: relative;}
.dinga{position: absolute;}
.mc{margin: 0 auto}
.tc{text-align: center;}
.db{display: inline-block;}
.mb2{margin-bottom: 20px;}

.top{
	/*border: 1px solid red;*/
	height: 100px;
}
.mycenter{
	/*border: 1px solid blue;*/
	height: 95px;
	width: 1220px;
	padding: 5px 0 0 0;
}
.myc{
	/*border: 1px solid yellowgreen;*/
	width: 1220px;
}
.top_l,.top_r{
	/*border: 1px solid red;*/
	color: #ccc;
}
.top_l>a,.top_r>a,.gou>a,.geng>a{
	color: #aaa;
	margin-right:5px;
	margin-left: 5px;
	font-size: 12px;
}
.top_l>a:hover,.top_r>a:hover,.gou>a:hover,.geng_xiao>div>a:hover,.saoma>div>a:hover{
	color: rgb(183,0,24);
}
/*更多精彩*/
.geng{
	border: 1px solid white;
	width: 77px;
}
.geng:hover > .geng_xiao{
	display: block;
}
.geng:hover{

}
.geng_xiao{
	background: white;
	border-top: none;
	border: 1px solid #ccc;
	width: 155px;
	height: 275px;
	left: -80px;
	padding: 10px 0 0 0;
	display: none;
	z-index: 20;
}
.geng_xiao>div>a{
	display: block;
	line-height: 30px;
	color: black;
}
.saoma{
	border-top:1px solid #ccc;
	margin-top: 10px;
}
.saoma>div>a{color: black;}
.saoma>img{
	margin-top: 20px;
	margin-bottom: 10px;
}
.gou{
	width: 70px;
	padding: 2px 0 0 0;
	margin-right: 0;
	margin-left: 5px;
}
.gou>a{
	vertical-align: top;
}
.gou>div{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/jingling1.png);
}

.nav{
	/*border: 1px solid red;*/
	height: 60px;
	width: 1220px;
	padding: 5px 0 5px 0;
	bottom: 0;
}
.nav > ul{
	margin-left: 20px;
}
.nav>ul>li,.cellpho>ul>li{
	font-size: 17px;
	display: inline-block;
	margin-left: 10px;
}
.cellpho>ul>li{
	color: gray;
	cursor: pointer;
}
.nav>ul>li:hover,.cellpho>ul>li:hover{
	border-bottom: 2px solid rgb(183,0,24);
	color: rgb(183,0,24);
}
.dbul{
	/*border: 1px solid red;*/
	top: -15px;
}
.sousuo{
	border-bottom: 1px solid gray;
	height: 30px;
	width: 333px;
	right: 0;
	top: 18px;
}
.sousuo>input{
	background: #F0F0F0;
	margin-top: 5px;
	margin-left: 10px;
	width: 115px;
	outline: none;
	border: none;
}
.sousuo a{
	color: gray;
	font-size: 12px;
}
.sousuo a:hover{
	color: rgb(183,0,24);
}
.sousuo div{
	/*border: 1px solid red;*/
	width: 25px;
	height: 20px;
	right: 5px;
	bottom: 5px;
	background: url(../img/jingling1.png) no-repeat 0px -28px;
}


.mid{
	/*border: 1px solid red;*/
	height: 453px;
}
.mid_lun{
	/*border: 1px solid red;*/
	width: 1918px;
	height: 453px;
	top: 0;
	left: -340px;
}
.mid_con_l{
	background: rgba(0,0,0,0.3);
	height: 451px;
	width: 240px;
	z-index: 30;
}

.bone{
	/*border: 1px solid orange;*/
	height: 65px;
	padding: 10px 10px 0 10px;
}
.bone:hover > .boneModel{
	color: #ccc;
	cursor:pointer;
}
.bonename{
	color: #ccc;
	margin-bottom: 10px;
}
.boneModel{
	color: 	#7B7B7B;
}
.boneRight{
	width: 650px;
	height: 453px;
	background: white;
	z-index: 40;
	left: 240px;
	display: none;
	position: absolute;
}
.tit{
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	height: 73px;
	color: rgb(183,0,24);
}
.white1{
	width: 200px;
	margin-top: 30px;
	margin-left: 20px;
}
.whiter{
	width: 50px;
	margin-top: 30px;
	margin-right: 20px;
}
.types{
	height: 115px;
	border-bottom: 1px solid #aaa;
	padding: 35px 20px 0 20px;
}
.whitea{
	margin-left: 20px;
	line-height: 35px;
	color: black;
}
.whitea:hover{
	color: rgb(183,0,24);
}
.infos{
	/*border: 1px solid red;*/
	height: 222px;
}
.whiteInfo{
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	height: 222px;
	width: 25%;
	float: left;
	box-sizing: border-box;
	text-align: center;
}
.infoImg{
	width: 95px;
	margin-top: 23px;
	margin-bottom: 15px;
}
.infopri{
	color: rgb(183,0,24);
	line-height: 40px;
}


/* 注册区 */
.register{
	height: 100px;
	background: white;
}
.reg{
	border-right:1px solid #ddd;
	width: 260px;
	height: 62px;
	padding: 17px 20px;
}
.people{
	width: 60px;
	height: 60px;
	background: url(../img/people.png);
	background-size: 100% 100%;
	margin-right: 17px;
}
.regInfo{
	width: 173px;
	/*border:1px solid red;*/
	color: gray;
}
.regInfo>span{
	border: 1px solid rgb(183,0,24);
	line-height: 30px;
	padding: 1px 7px;
	margin-left:5px;
	color: rgb(183,0,24);
	cursor: pointer;
}
.regInfo>span:hover{
	background: rgb(183,0,24);
	color: white;
}
.reg_mid{
	border-right: 1px solid #ddd;
	width: 605px;
	height: 77px;
	padding: 20px 0 0 0;
}
.reg_mid>div{
	/*border: 1px solid red;*/
	width: 50px;
	height: 60px;
	font-size: 12px;
	display: inline-block;
	margin-left: 40px;
}
.reg_mid>div>div{
	/*border: 1px solid green;*/
	width: 40px;
	height: 40px;
	margin-left:4px;
	margin-bottom: 5px;
}
.reg_mid>div:hover{
	color:  rgb(183,0,24);
}
.re1>div{
	background: url(../img/jingling2.png) no-repeat 0px 0px;
}
.re2>div{
	background: url(../img/jingling2.png) no-repeat -40px 0px;
}
.re3>div{
	background: url(../img/jingling2.png) no-repeat -80px 0px;
}
.re4>div{
	background: url(../img/jingling2.png) no-repeat -120px 0px;
}
.re5>div{
	background: url(../img/jingling2.png) no-repeat -160px 0px;
}
.re6>div{
	background: url(../img/jingling2.png) no-repeat -200px 0px;
}
.reg_right{
	/*border: 1px solid blue;*/
	width: 311px;
	height: 98px;
}
.annou{
	/*border: 1px solid blue;*/
	height: 50%;
}
.rr{
	border-top: 1px solid #ddd;
	height: 50%;
}
.rr>div{
	/*border: 1px solid blue;*/
	width: 100px;
	display: inline-block;
	margin-top: 16px;
	height: 20px;
}
.rr>div>span{
	vertical-align: top;
}
.rr>div>div{
	/*border: 1px solid blue;*/
	width: 20px;
	height: 12px;
	display: inline-block;
	margin-right: 5px;
}
.rr1>div{
	background: url(../img/jingling2.png) no-repeat -240px -4px;
}
.rr2>div{
	background: url(../img/jingling2.png) no-repeat -260px -4px;
}
.rr3>div{
	background: url(../img/jingling2.png) no-repeat -280px -4px;
}
.annou>h3{
	/*border: 1px solid blue;*/
	width: 40px;
	color: rgb(183,0,24);
	float: left;
	margin-top: 13px;
	margin-left: 10px;
}
.annouLun{
	/*border: 1px solid green;*/
	width: 250px;
	height: 20px;
	margin-top: 15px;
}
.ann{
	height: 21px;
}

/* 简介区 */
.jianjie{
	height: 190px;
	padding: 12px 0 0 0;
}
.jiji{
	width: 1250px;
	height: 100%;
	margin-left: -19px;
}
.jj{
	margin-left: 19px;
	cursor: pointer;
}
.jj:hover{
	box-shadow: 0 10px 20px #ccc;
	transition: all 0.3s;
}

/* 内容开始 */
/* 热销单品 */
.tit_top {
	font-size: 25px;
	margin-bottom: 15px;
}
.chot{
	height: 595px;
	margin-bottom: 20px;
}
.hotr{
	/*border: 1px solid blue;*/
	width: 986px;
	height: 590px;
	float: right;
}
.eight{
	/*border: 1px solid orange;*/
	background: white;
	width: 235px;
	height: 260px;
	float: left;
	margin-left:11px;
	margin-bottom: 12px;
	padding: 25px 0 0 0;
	transition: all 0.7s;
}
.eight:hover,.hotl:hover,.eight2:hover,.cellpho1:hover,.cellpho2:hover{
	transition: all 0.7s;
	box-shadow: 0 10px 20px #ccc;
	transform: translateY(-3px);
}
.arr2_img{
	width: 111px;
	margin-bottom: 35px;
}
.arr3_img{
	width: 150px;
	margin-bottom: 35px;
}
.arr2_gray{
	font-size: 12px;
	color: gray;
	line-height: 30px;
}
.arr2_red{
	color: rgb(183,0,24);
	line-height: 25px;
}
.xiao{
	width: 53px;
	top: 108px;
	right: 45px;
}
/* 精品推荐 */
.cboutique{
	height: 295px;
	margin-bottom: 15px;
}
.eight2{
	background: white;
	width: 235px;
	height: 260px;
	margin-bottom: 12px;
	margin-left: 2px;
	padding: 25px 0 0 0;
	transition: all 0.7s;
}

/* 广告轮播图 */
.adlunbo{margin-bottom: 15px;}

/* 手机 */
.cellpho{
	margin-bottom: 15px;
}
.cellpho>span{
	font-size: 25px;
}
.cellpho>ul{
	display: inline-block;
	margin-left: 10px;
}
.cellpho>p{
	display: inline-block;
	font-size: 20px;
	line-height: 30px;
	cursor: pointer;
}
.cellpho>p:hover{
	color: rgb(183,0,24);
}
.cellpho_con{
	height: 710px;
}
.cellpho1{
	margin-right: 14px;
}
.cellpho2{
	background: white;
	width: 291px;
	height: 286px;
	padding: 60px 0 0 0;
	margin-bottom: 10px;
	margin-right: 14px;
}
.xiao2{
	top: 180px;
	right: 60px;
}
.notebook_con{
	height: 350px;
}
.table_con,.smartWear_con,.smartHome_con,.hotParts_con,.pinParts_con{
	height: 710px;
}


/* 页面底部 */
.last1{
	background:rgb(236,236,236);
	height: 300px;
	padding-top: 50px;
}
.last1_center{
	height: 310px;
}
.bai{
	/*border: 1px solid red;*/
	margin-bottom: 30px;
}
.bai>li{
	width: 25%;
	float: left;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	height: 55px;
}
.bai>li>span{
	font-size: 18px;
	vertical-align: top;
	line-height: 55px;
}
.bai>li>div{
	width: 47px;
	height: 48px;
	display: inline-block;
}
.i1>div{
	background: url(../img/jingling1.png) no-repeat 1px -151px;
}
.i2>div{
	background: url(../img/jingling1.png) no-repeat -94px -151px;
}
.i3>div{
	background: url(../img/jingling1.png) no-repeat -141px -151px;
}
.i4>div{
	background: url(../img/jingling1.png) no-repeat -46px -151px;
}
.last2{
	/*border: 1px solid red;*/
}
.last2_l{
	/*border: 1px solid green;*/
	width: 80%;
	box-sizing: border-box;
}
.last2_l>div{
	width: 16.66%;
	padding: 30px 0 0 0;
	box-sizing: border-box;
	height: 170px;
}
.last2_l>div>div,.last2_r_1{
	width: 20px;
	border: 1px solid gray;
}
.last2_l>div>p{line-height: 35px; font-size: 14px;}
.last2_l>div>a{color: gray; line-height: 20px; font-size: 13px;}
.last2_l>div>a:hover{color: rgb(183,0,24);}
.last2_r{
	width: 20%;
	padding: 30px 0 0 30px;
	height: 170px;
	box-sizing: border-box;
}
.last2_r>p{font-size: 26px; line-height: 45px;margin-top: 10px;}
.kefu{border: 1px solid #ddd;border-radius: 5px;background:white;width: 165px;height:22px;margin-top: 10px;padding: 8px 0 0 0;}
.kefu>div{
	width: 30px;
	height: 20px;
	background: url(../img/jingling1.png) no-repeat -101px -23px;
	display: inline-block;
}
.kefu>span{color: rgb(183,0,24);vertical-align: top;cursor: pointer;}

.bott{height: 120px;background: rgb(224,224,224);}
.bott_logo{height: 100%;}
.bott_logo_img{margin-top: 40px;display: inline-block;}
.bott_logo_info{
	font-size: 12px;
	color: gray;
	display: inline-block;
	/*border: 1px solid red;*/
	width: 620px;
	line-height: 20px;
	margin-left: 30px;
	margin-top: 25px;
}
.bott_logo_img2{margin-right: 50px;margin-top: 35px;}




